<h1>mozda ces trebati npm install bootstrap</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">



    <div class="form-group">

            <label for="description">Username</label>
            <input [(ngModel)]="Username" type="text" class="form-control" formControlName="username" required placeholder="Username">
    
        </div>

    <div class="form-group">

        <label for="description">Password</label>
        <input type="password" class="form-control" formControlName="password" required>

    </div>


    <button mat-button type="submit" class="btn btn-success">Submit</button>
    

</form>
<button mat-button (click)="bypass()" class="btn btn-success">Automatic login</button>