/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


/* Imports functions, variables, and mixins that are needed by other Bootstrap files */
@import "_variables.scss";
@import "~bootstrap/dist/css/bootstrap.css";
@import "_reset.scss";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.menu-font { 
    font-size: 12px;
}