<div class="mat-app-background">
<mat-toolbar color="primary">
  <mat-toolbar-row>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/machinesV">Machines View</button>
  <button mat-button routerLink="/machinesE">Machines Edit</button>
  <button mat-button routerLink="/usersV">Users</button>
  <button mat-button routerLink="/login">Login</button>
  <button mat-button routerLink="/register">Register</button>
  <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>


<!-- main content container -->
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>


